<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961452994389-bk41ce72v75dv0ttl87p0lr0cch9ojgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961452994389-bk41ce72v75dv0ttl87p0lr0cch9ojgv</string>
	<key>API_KEY</key>
	<string>AIzaSyCCHYvrrbsB_VZn35tttVR9fWp67KLw3rE</string>
	<key>GCM_SENDER_ID</key>
	<string>961452994389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eprotagoras.iOSDeepHole</string>
	<key>PROJECT_ID</key>
	<string>deephole-fed23</string>
	<key>STORAGE_BUCKET</key>
	<string>deephole-fed23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961452994389:ios:e7d0c7b0c3426b9f</string>
	<key>DATABASE_URL</key>
	<string>https://deephole-fed23.firebaseio.com</string>
</dict>
</plist>